.header-container {
    background-color: var(--color-black);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 5% 0.5% 5%;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo-image {
    width: 3.5vw;
}

.header-list {
    display: flex;
}

.header-logo-text {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.header-list-itens {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.list-item-link {
    font-size: 1.2rem;
}

.header-navbar {
    display: none;
}

.mobile_menu {
    display: none;
}

@media (min-width: 0px) and (max-width: 850px) {

    .header-content {
        padding: 3% 5% 3% 5%;
    }

    .header-logo-image {
        width: 10vw;
    }

}