.section_admin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
}

.section_admin-content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-black);
    border-radius: 1rem;
    padding: 4% 8% 4% 8%;
    gap: 1rem;
}

.admin-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.section_admin-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-username {
    display: flex;
    flex-direction: column;
}

.admin-password {
    display: flex;
    flex-direction: column;
}

.input-admin {
    width: 18rem;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--color-black);
    padding: 2% 2% 2% 8%;
    font-family: var(--second-font)
}

.button-admin {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1rem;
    height: 2rem;
    font-family: var(--second-font);
    outline: none;
    font-size: 1rem;
    margin: 5% 0% 0% 0%;
}
.button-users {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1rem;
    padding: 1% 2% 1% 2%;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}